<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Video</title>
</head>
<body>
<h1>Update Video</h1>

<form id="videoForm">
    <label for="videoURL">Video URL:</label>
    <input type="text" id="videoURL" name="videoURL" required>
    <br>

    <button type="submit">Update Video</button>
</form>

<video id="videoPlayer"
       class="video-js"
       controls
       preload="auto"
       width="1000"
       height="800"
       data-setup="{}"
       src=""

>
    <source src="" type="video/mp4">
</video>

<script>
    const form = document.getElementById('videoForm');
    const videoPlayer = document.getElementById('videoPlayer');

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        const videoURL = document.getElementById('videoURL').value;
        videoPlayer.src = "http://localhost:8000/video/stream2/" + videoURL

    });

</script>
</body>
</html>
